<div class="row vh-100 backgroud">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div class="row central-block">
            <div class="col-md-12">
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <input class="form-control input" type="text" placeholder="Email" [(ngModel)] = "user.email">
                            <input class="form-control input" type="text" placeholder="Password" [(ngModel)] = "user.password">
                        </div>
                    </div>  
                </div>
                <div class="row" *ngIf="alertInputs">
                    <div class="col-md-12">
                        <div class="alert alert-warning" role="alert">
                            There are empty fields
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-12">
                        <div class="form-group">
                            <button class="btn btn-block" id="btn-signin" (click)="SignIn()">Sign in</button>
                            <a href="" class="float-left">Forgot your password?</a>
                            <a href="" class="float-right">Register </a>
                        </div>
                    </div>
                </div>  
            </div>
        </div>
    </div>
    <div class="col-md-4"></div>
</div>